%table#admincomentarios
  %thead
    %tr
      %th Usuario
      %th Comentario
      %th Fecha
      %th Evento en el que esta
  %tbody
    - @comentarios.each do |comentario|
      %p
      %tr
        %p
        %td= comentario.usuario
        %td= comentario.comentario
        %td= comentario.fecha
        -event=Evento.find(Integer(comentario.evento))
        %td= link_to "Ver evento", evento_path(event)
        %td= button_to "Borrar", comentario_path(comentario), :method => :delete, :confirm => "¿Estas seguro?"

%p
= form_tag homepage_index_path, :method => :get do
  = submit_tag 'Cancelar'
