= form_tag comentarios_path do
	#nuevocomentario
		%p= label :comentario, :comentario, "Comentario"
		= text_area :comentario, "comentario", :cols => "40", :rows => "10"

		= hidden_field :comentario, :evento, :value => @idevento

		= hidden_field :comentario, :usuario, :value => session[:usuario].nick

		%p=submit_tag "Comentar"
