= form_tag evento_path(@evento), :method => :put do
	%p= label :evento, :fecha, "Fecha"
	= text_field :evento, "fecha"

	%p= label :evento, :asignatura, "Asignatura"
	= text_field :evento, "asignatura"

	%p= label :evento, :tipo, "Tipo"
	= select :evento, :tipo, ["Practica", "Examen"]

	%p= label :evento, :aula, "Aula"
	= text_field :evento, "aula"

	%p= label :evento, :dificultad, "Dificultad"
	= select :evento, :dificultad, ["1", "2", "3", "4", "5"]

	%p=submit_tag "Actualizar"

%p= link_to "Atras", evento_path(@evento)