%table.mostrarevento
	
	%tr
		%th.title Asignatura: 
		%th= @evento.asignatura 
	%tr
		%th.title Tipo: 
		%th= @evento.tipo
	%tr
		%th.title Fecha: 
		%th= @evento.fecha
	%tr
		%th.title Aula: 
		%th= @evento.aula
	%tr
		%th.title Dificultad: 
		%th= @evento.dificultad
	%tr
		%th.title Comentarios:
	-@comentariosevento.each do |comentarioevento|
		%tr 
			%th= comentarioevento.usuario 
			%th.comentario= comentarioevento.comentario	
			%th= comentarioevento.fecha


-if session[:usuario]
	-#por si se usa nuevo comentario:
	-session[:evento]=@evento
	-session[:idevento]=params[:id]
	= form_tag  new_comentario_path, :method => :get do
		= submit_tag 'Nuevo comentario', :class => "buttons"
	-if session[:usuario].rol=="Profesor"
		= form_tag  edit_evento_path, :method => :get do
			= submit_tag 'Modificar', :class => "buttons"
		= form_tag  eventos_path, :method => :get do
			= submit_tag 'Eventos', :class => "buttons"
		= form_tag  comentarios_path, :method => :get do
			= submit_tag 'Administrar comentarios', :class => "buttons"
		= button_to "Borrar", evento_path(@evento),:method => :delete, :confirm => "¿Estas seguro?"
%p
= form_tag  mes_path(@mes), :method => :get do
	= submit_tag 'Calendario'
