%h2= @mes.mes

= form_tag mes_path, :method => :get, :id => @mes.nmes do
  #checkbox
    - @asignaturas.each do |asignatura|
      %p
      = check_box_tag "asignaturas[#{asignatura}]", 1, @selected_asignaturas.include?(asignatura), :id => "asignaturas_#{asignatura}"
      = asignatura
    %p
    = submit_tag 'Refresh', :id => 'asignaturas_submit'
#diassem
  .dia Lunes
  .dia Martes
  .dia Miercoles
  .dia Jueves
  .dia Viernes
  .dia Sabado
  .dia Domingo
-@listadias.each_with_index do |dia, index|
  -currentday=index+1-@nhuecos
  -if index>=@nhuecos
    .cuadro
      %h1.num= currentday
      -if not dia.empty?
        -dia.each do |evento|
          %td=evento.asignatura
          %td=evento.tipo
        %p= link_to 'Ver dia', ver_dia_path(params[:id],:dia=>currentday)
  -else
    .cuadrovacio= " "

