- @eventosdia.each do |evento|
	%table.mostrarevento
		%tr
			%th.title Asignatura: 
			%th= evento.asignatura 
		%tr
			%th.title Tipo: 
			%th= evento.tipo
		%tr
			%th.title Fecha: 
			%th= evento.fecha
		%tr
			%th.title Aula: 
			%th= evento.aula
		%tr
			%th.title Dificultad: 
			%th= evento.dificultad
		%tr
			%th.title Comentarios:
			-@comentarioseventos.each do |comentariosevento|
				-if comentariosevento[0]==evento.id
					-for i in 1..comentariosevento.size-1
						%tr
							%th.comentario= comentariosevento[i].usuario
							%th= comentariosevento[i].comentario
							%th= comentariosevento[i].fecha

	-if session[:usuario]
		-#por si se usa nuevo comentario:
		-session[:mes]=params[:id]
		-session[:dia]=params[:dia]
		-session[:comentario]=0#si es 0 viene de aqui, si es 1 viene de show evento
		=link_to 'Nuevo comentario', new_comentario_path(evento)
		-if session[:usuario].rol=="Profesor"
			=link_to 'Modificar', edit_evento_path(evento)
			%p= button_to "Borrar", evento_path(evento), :method => :delete, :confirm => "¿Estas seguro?"

-if session[:usuario]
	-if session[:usuario].rol=="Profesor"
		=link_to 'Crear evento', new_evento_path
		=link_to 'Eventos', eventos_path
		=link_to 'Administrar comentarios', comentarios_path

%td= link_to "Calendario", mes_path(@mes)