= form_tag usuario_path(@usuario), :method => :put do
  #registrarse
    %p= label :usuario, :nombre, 'Nombre'
    = text_field :usuario, 'nombre'
  
    %p= label :usuario, :email, 'Email'
    = text_field :usuario, 'email'
  
    %p= label :usuario, :rol, 'Rol'
    = select :usuario, 'rol', ['Alumno', 'Profesor']
  
    %p= label :usuario, :nick, 'Nick'
    = text_field :usuario, 'nick'

    %p= label :usuario, :oldkey, 'Key'
    = password_field :usuario, 'key'
  
    %p= submit_tag 'Actualizar'
