= form_tag usuario_path(@usuario), :method => :put do
  #registrarse
    %p= label :usuario, :nombre, 'Nombre'
    = text_field :usuario, 'nombre'
  
    %p= label :usuario, :email, 'Email'
    = text_field :usuario, 'email'
  
    %p= label :usuario, :rol, 'Rol'
    = text_field :usuario, 'rol'
  
    %p= label :usuario, :nick, 'Nick'
    = text_field :usuario, 'nick'

    %p= label :usuario, :oldkey, 'Key actual'
    = password_field :usuario, 'key actual'

    %p= label :usuario, :key, 'Key nueva'
    = password_field :usuario, 'Key nueva'

    %p= label :usuario, :key1, 'Confirmar key nueva'
    = password_field :usuario, 'Confirmar key nueva'
  
    %p= submit_tag 'Actualizar'