%h1 Registro

= form_tag usuarios_path do
  #registrarse
    %p= label :usuario, :nombre, 'Nombre'
    = text_field :usuario, 'nombre'
  
    %p= label :usuario, :email, 'Email'
    = text_field :usuario, 'email'
  
    %p= label :usuario, :rol, 'Rol'
    = text_field :usuario, 'rol'
  
    %p= label :usuario, :nick, 'Nick'
    = text_field :usuario, 'nick'

    %p= label :usuario, :key, 'Key'
    = password_field :usuario, 'key'

    %p= label :usuario, :key2, 'Confirmar key'
    = password_field :usuario, 'Confirmar key'
  
    %p= submit_tag 'Registro'
    
%p
= form_tag homepage_index_path, :method => :get do
  = submit_tag 'Cancelar'
