%table.mostrarevento
	
	%tr
		%th.title Nombre: 
		%th= @usuario.nombre 
	%tr
		%th.title email: 
		%th= @usuario.email
	%tr
		%th.title Rol: 
		%th= @usuario.rol
	%tr
		%th.title Nick: 
		%th= @usuario.nick

-if session[:usuario].nick == @usuario.nick
	= link_to "Modificar informacion", edit_usuario_path(session[:usuario])
	= button_to "Borrar usuario", usuario_path(@usuario),:method => :delete, :confirm => "¿Estas seguro?"